In [9]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("simpsons.csv")
data['gender'] = data['gender'].map({'M':0,'F':1})
data

  Unnamed: 0  hair_length  weight  age  gender
0      Homer            0     250   36       0
1      Marge           10     150   34       1
2       Bart            2      90   10       0
3       Lisa            6      78    8       1
4     Maggie            4      20    1       1
5        Abe            1     170   70       0
6      Selma            8     160   41       1
7       Otto           10     180   38       0
8     Krusty            6     200   45       0

In [13]:
data = data.drop('Unnamed: 0', axis = 1)
x= data.drop('gender',axis = 1)
y= data['gender']

In [19]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(criterion = 'entropy',
                            max_depth = 3)
dtc.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
from sklearn.tree import export_graphviz

In [22]:
export_graphviz(dtc,
               out_file = 'decision_tree.dot',
               feature_names = x.columns,
               class_names = ['M','F'],
               rounded = True)